<app-divider>
    Models Component
</app-divider>

<button (click)="onClick()" class="ui button">Show Modal</button>
<app-modal (close)="onClick()" *ngIf="modalOpen">
  <div modalTitle>I am a REUSABLE TITLE</div>
  <ng-container modBody>
    <div class="ui medium image">
        <img src="./assets/images/modal_avater.png">
    </div>
    <div class="description">
        <div class="ui header">We've auto-chosen a profile image for you.</div>
        <p>We've grabbed the following image from the <a href="https://www.gravatar.com"
                target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
        <p>Is it okay to use this photo?</p>
    </div>
</ng-container>
  <ng-container modalFooter>
    <button class="ui button" (click)="onClick()">CLOSE ME!</button>
  </ng-container>
</app-modal>

<app-divider>
    Accordion Component
</app-divider>

<app-accordion [items]="items"></app-accordion>
